.f1 {
    font-family: "Playfair Display", serif !important;
}

.f2 {
    font-family: "Source Sans Pro", sans-serif !important;
}

.center-text {
    text-align: center;
}
.center {
    justify-content: center;
}